In [1]:
import numpy as np
import pandas as pd

### $\int_{-\inf}^{z} e^{\frac{-u^2}{2}}du = \frac{1-0.05}{2}*\sqrt{2*π}$

In [2]:
z_gamma_empty = 0.062706777

### Завдання 1

Выборочные блоки -- естественные разбиения оси $Ox$ на интервалы $ (X_{i-1},X_i],\ i=1,...,n+1\ (X_{(0)} = -\inf, X_{(n+1)} = \inf) $

Пусть $\xi_r = \xi_r(n,m) \larr$ число этих блоков, каждый из которых содержит ровно $r$ элементов второй выборки $Y=(Y_1,...,Y_m), r = 0,1,...,m$. Тогда в качестве тестовой статистики можно взять произвольную линейную комбинацию $\sum_r c_r \xi_r$. В часности, $\xi_0$ - число блоков, не содержащих ни одного элемента второй выборки, -- порождает критерий пустых блоков.

In [3]:
# example 1
X = np.random.exponential(1, 10)
Y = np.random.exponential(1, 20)
intervals = []
for i in range(1, len(X+1)):
    intervals.append([X[i-1], X[i]])

res = np.zeros(len(intervals))
for i, x in enumerate(intervals):
    for item in Y:
        if intervals[i][0] <= item <= intervals[i][1]: 
            print(f"{intervals[i][0]} <= {item} <= {intervals[i][1]}")
            res[i] += 1
    if res[i] != 0:
        print(f"{i} :: {res[i]}")
        print("+++++++++++++++++++++++++")

print()
print()
print(res)
print("+"*20)
print(np.count_nonzero(res == 0))

0.10933431403058219 <= 0.8154022222157784 <= 0.8673494674615111
0.10933431403058219 <= 0.3654017900327715 <= 0.8673494674615111
0.10933431403058219 <= 0.29062258251061385 <= 0.8673494674615111
0.10933431403058219 <= 0.28325104930511 <= 0.8673494674615111
0.10933431403058219 <= 0.4313418852482587 <= 0.8673494674615111
0.10933431403058219 <= 0.21239341784759014 <= 0.8673494674615111
0.10933431403058219 <= 0.5953730441537233 <= 0.8673494674615111
0.10933431403058219 <= 0.49505394503885464 <= 0.8673494674615111
0.10933431403058219 <= 0.4256216575647539 <= 0.8673494674615111
0.10933431403058219 <= 0.7790214734478981 <= 0.8673494674615111
0.10933431403058219 <= 0.4332898124468414 <= 0.8673494674615111
0.10933431403058219 <= 0.8032505422319596 <= 0.8673494674615111
0 :: 12.0
+++++++++++++++++++++++++
0.8673494674615111 <= 1.2672552076059225 <= 1.4187990529504095
0.8673494674615111 <= 1.0236315384577106 <= 1.4187990529504095
1 :: 2.0
+++++++++++++++++++++++++
0.8163502889755967 <= 1.2672552076059225 <= 1.9473671962438717
0.8163502889755967 <= 1.0236315384577106 <= 1.9473671962438717
3 :: 2.0
+++++++++++++++++++++++++
1.395711463611355 <= 1.9601921687133983 <= 2.0309938413975783
5 :: 1.0
+++++++++++++++++++++++++
0.041778038786263114 <= 0.8154022222157784 <= 0.8252328542352746
0.041778038786263114 <= 0.05611029454543805 <= 0.8252328542352746
0.041778038786263114 <= 0.3654017900327715 <= 0.8252328542352746
0.041778038786263114 <= 0.29062258251061385 <= 0.8252328542352746
0.041778038786263114 <= 0.28325104930511 <= 0.8252328542352746
0.041778038786263114 <= 0.4313418852482587 <= 0.8252328542352746
0.041778038786263114 <= 0.09204225692417861 <= 0.8252328542352746
0.041778038786263114 <= 0.0859043588618118 <= 0.8252328542352746
0.041778038786263114 <= 0.21239341784759014 <= 0.8252328542352746
0.041778038786263114 <= 0.5953730441537233 <= 0.8252328542352746
0.041778038786263114 <= 0.49505394503885464 <= 0.8252328542352746
0.041778038786263114 <= 0.4256216575647539 <= 0.8252328542352746
0.041778038786263114 <= 0.7790214734478981 <= 0.8252328542352746
0.041778038786263114 <= 0.4332898124468414 <= 0.8252328542352746
0.041778038786263114 <= 0.08972090198135188 <= 0.8252328542352746
0.041778038786263114 <= 0.8032505422319596 <= 0.8252328542352746
7 :: 16.0
+++++++++++++++++++++++++


[12.  2.  0.  2.  0.  1.  0. 16.  0.]
++++++++++++++++++++
4

In [4]:
NM = [[500, 1000], [5000, 10000]]#, [50000, 100000]]

xi_empty = []
crit_empty = []
RES_empty = []
for nm in NM:
    
    n = nm[0]
    m = nm[1]
    ro = m/n

    X = np.random.exponential(1, n)
    Y = np.random.exponential(1, m)
    intervals = []
    for i in range(1, len(X+1)):
        intervals.append([X[i-1], X[i]])

    
    res = np.zeros(len(intervals))
    for i, x in enumerate(intervals):
        for item in Y:
            if intervals[i][0] <= item <= intervals[i][1]: res[i] += 1

    xi_empty_temp = np.count_nonzero(res == 0)
    xi_empty.append(xi_empty_temp)

    crit = n/(1 + ro) + np.math.sqrt(n)*ro*z_gamma_empty/(1+ro)**(3/2) 
    crit_empty.append(crit)
    if xi_empty_temp < crit:
        RES_empty.append("H0")
    else:
        RES_empty.append("False")


data_empty = {"xi_empty (n, m)": xi_empty, f"crit": crit_empty, "Result": RES_empty}
df_empty = pd.DataFrame.from_dict(data_empty, orient='index', columns=[f"n::{item[0]}; m::{item[1]}" for item in NM])

In [5]:
df_empty

                n::500; m::1000 n::5000; m::10000
xi_empty (n, m)             249              2487
crit                 167.206361       1668.373329
Result                    False             False

## Завдання 2

### Ранжування

In [6]:
rank = lambda data : pd.Series(data).rank(method="min").to_list()
gamma = 0.05
z_gamma = 0.0627

### Критерій перевірки гіпотези $H_0$

#### $\rho_n(\bar X, \bar Y) = \frac {\sum^n_{i=1} (R_i  - \bar R) (S_i - \bar S)}  {[ \sum^n_{i=1} (R_i  - \bar R)^2 \sum^m_{i=1}(S_i - \bar S)^2 ]^{\frac{1}{2}}}$

##### $\bar R = \frac {1}{n} \sum_{i=1}^n \frac{n+1}{2}$
##### $\sum^n_{i=1} (R_i  - \bar R)^2 = \frac {n(n^2-1)}{12}$

### критей Спірмана

In [13]:
def SpearMan(V):
    n = len(V)
    return 1 - 6 * np.sum(pow(V[:, 0] - V[:, 1], 2)) / (n * (pow( n, 2) -1))
    ...

In [8]:
X = [5, 2,	1,	7,	8,	4,	6,	3]
Y = [4, 3,	2,	1,	7,	6,	5,	8]


n = 8
print(n)

res = np.array([X, Y])
res = np.transpose(res)
res = res[res[:, 0].argsort()]

test = abs(SpearMan(res))
print(test)

8
0.16666666666666663

In [16]:
N = [500, 5000, 50000]
z_gamma_spearman = [z_gamma / np.math.sqrt(n) for n in N]

RHO = []
Hyp_Spearman = []
for i, n in enumerate(N):
    data_xi = np.random.uniform(0,  1, n)
    data_nu = np.random.uniform(-1, 1, n)
    X = rank(data_xi)
    Y = rank(data_xi * data_nu)

    res = np.array([X, Y])
    res = np.transpose(res)
    res = res[res[:, 0].argsort()]

    test = abs(SpearMan(res))
    RHO.append(test)
    if test < z_gamma_spearman[i]:
        Hyp_Spearman.append("H0")
    else:
        Hyp_Spearman.append("False")

data_Spearman = {"Spearman statistic": RHO, f"z_gamma": z_gamma_spearman, "Result":Hyp_Spearman}
df_Spearman = pd.DataFrame.from_dict(data_Spearman, orient='index', columns=N)

df_Spearman

                       500       5000      50000
Spearman statistic  0.071207  0.007031  0.002659
z_gamma             0.002804  0.000887   0.00028
Result                 False     False     False

### критерій Кендала

In [17]:
N = [500, 5000, 50000]

z_gamma_kendal = [z_gamma / np.math.sqrt(n) / 3 * 2 for n in N]
tau = []
Hyp_Kendal = []
for num, n in enumerate(N):
    data_xi = np.random.uniform(0, 1, n)
    data_nu = np.random.uniform(-1, 1, n)
    X = rank(data_xi)
    Y = rank(data_xi * data_nu)

    res = np.array([X, Y], np.int64)
    res = np.transpose(res)
    res = res[res[:, 0].argsort()]
    P_q = 0
    for i in res[1:-1, 0]:
        if res[i, 1] > res[i - 1, 1]: P_q += res[i, 1] - res[i - 1, 1]

    P_p = n * (n - 1) / 2 - P_q
    res = 4 * P_p / (n * (n - 1)) - 1
    tau.append(res)
    if res < z_gamma_kendal[num]:
        Hyp_Kendal.append("H0")
    else:
        Hyp_Kendal.append("false")


data_Kendal = {"Kendal statistic": tau, f"z_gamma": z_gamma_kendal, "Result": Hyp_Kendal}
df_Kendal = pd.DataFrame.from_dict(data_Kendal, orient='index', columns=N)

df_Kend

               500       5000      50000
tau (X, Y)  0.399904  0.375093  0.383136
z_gamma     0.001869  0.000591  0.000187
Result         false     false     false

In [11]:
data_xi = [100, 118, 112, 97,  99,  103, 102, 132, 122, 121, 115, 117, 109, 111]
data_nu = [154, 123, 120, 213, 200, 187, 155, 100, 114, 115, 107, 176, 143, 111]
n = len(data_xi)
X = rank(data_xi)
Y = rank(data_nu)

res = np.array([X, Y], np.int64)
res = np.transpose(res)
res = res[res[:, 0].argsort()]
P_q = 0
for i in res[1:-1, 0]:
    if res[i, 1] > res[i - 1, 1]: P_q += res[i, 1] - res[i - 1, 1]

P_p = n*(n-1)/2 - P_q
print(P_q, P_p, 4*P_q/(n*(n-1))-1)

15 76.0 -0.6703296703296704

### Завдання 3
#### Критерій інверсій

In [12]:

N = [500, 5000]#, 50000]
z_gamma_inv = [z_gamma / 6 * n**(3/2) for n in N]
LAMBDA = []
RES_inv = []

for num,n in enumerate(N):
    X = np.random.normal(-1, 1, n)
    k = 0
    for x in range(1, len(X)-1):
        for j in range(x, len(X)):
            i = j - 1
            if (X[j] < X[i]) and (i <  j) : k += 1

    print(k)
    temp = (abs(k-n*(n-1)/4))
    LAMBDA.append(temp)
    if temp < z_gamma_inv[num]: RES_inv.append("H0")
    else: RES_inv.append("false")

data_inv = {"LAMBDA": LAMBDA, f"z_gamma": z_gamma_inv, "Result": RES_inv}
df_inv = pd.DataFrame.from_dict(data_inv, orient='index', columns=N)

df_inv

63033
6216216

               500          5000
LAMBDA        658.0      32534.0
z_gamma  116.834552  3694.632932
Result        false        false